@font-face {
  font-family: "Myra 4F Caps Bold";
  src: url("../fonts/myra_4f_caps_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/myra_4f_caps_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/myra_4f_caps_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/myra_4f_caps_bold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/myra_4f_caps_bold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/myra_4f_caps_bold.svg#myra_4f_caps_bold") format("svg"); /* Chrome < 4, Legacy iOS */
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #00f7ff;
}

::-webkit-scrollbar-thumb {
  background-color: #e94544;
  border-radius: 8px;
  border: 2px solid #00f7ff;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1415px;
  margin: 0 auto;
  position: relative;
}

header {
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #676767;
  position: relative;
}

.menu ul li a:before {
  content: "";
  top: -100%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e94544;
  transition: 0.2s;
  transform: scaleX(0);
}

.menu ul li a:hover:before {
  width: 100%;
  transform: scaleX(1);
}

.menu ul li:not(:first-child) {
  padding-left: 59px;
}

.icon-one:not(:first-child) {
  padding-left: 15px;
}

.fab {
  color: #000;
}
.header__color {
  width: 100%;
  margin: 0 auto;
  background-color: #e94544;
  height: 82vh;
  position: relative;
}

.header__content {
  padding-top: 130px;
  text-align: center;
}

.header__title {
  font-family: "Myra 4F Caps Bold";
  color: #fff;
  font-size: 115px;
}

.header__text {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #fbe2e2;
  padding-top: 25px;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.btn {
  display: block;
  width: 250px;
  height: 48px;
  background: #00f7ff;
  text-align: center;
  line-height: 48px;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s linear;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 248px;
  height: 46px;
  border: 2px solid #000;
  border-radius: 30px;
  left: -10px;
  top: -10px;
  transition: 0.3s linear;
}

.btn:hover::before {
  left: 0;
  top: 0;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.quote-one {
  position: absolute;
  top: 80%;
  left: 10%;
}

.quote-two {
  position: absolute;
  top: 80%;
  right: 20%;
}

.quote-three {
  position: absolute;
  top: 15%;
  left: 20%;
}

.quote-four {
  position: absolute;
  top: 50%;
  right: 0%;
}

.quote-3 {
  position: absolute;
  top: 20%;
  left: 5%;
}

.quote-4 {
  position: absolute;
  top: 70%;
  left: 20%;
}

.quote-5 {
  position: absolute;
  top: 60%;
  right: 15%;
}

.quote-6 {
  position: absolute;
  top: 10%;
  right: 20%;
}

.quote-7 {
  position: absolute;
  top: 60%;
  left: 5%;
}

.scroll {
  margin-top: 1%;
  text-align: center;
  width: 100%;
  max-width: 1415px;
  margin: 0 auto;
}

.scroll__btn {
  padding-top: 4px;
}

.header__scroll {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #676767;
  border-bottom: 2px solid #e94544;
  padding-bottom: 10px;
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 101%;
  z-index: 3;
  cursor: pointer;
}

.burger-line-first {
  width: 19px;
  height: 4px;
  background-color: #000;
}

.burger-line-second {
  width: 19px;
  height: 4px;
  background-color: #000;
  margin-top: 5px;
}

.burger-line-third {
  width: 19px;
  height: 4px;
  background-color: #000;
  margin-top: 5px;
}

.header__menu {
  background-color: #000;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
}

.container-menu {
  position: relative;
}

.close-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5%;
  cursor: pointer;
  right: 10%;
  z-index: 5;
}
.close-btn::after,
.close-btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background-color: #e94544;
  transform-origin: left;
}

.close-btn::after {
  transform: rotate(45deg);
}
.close-btn::before {
  transform: rotate(-45deg);
  bottom: 18px;
}

.menu__list {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu__list a {
  font-size: 38px;
  line-height: 36px;
  font-weight: 700;
  padding: 30px 0 14px;
  border-bottom: 3px solid #00f7ff;
  display: inline-block;
  min-width: 368px;
  color: #fff;
  transition: all 0.5s;
}

.menu__list a:hover {
  border-color: #e94544;
  color: #00f7ff;
  transform: scale(1.2);
  margin-left: 37px;
}

.header__menu.active {
  left: 0;
  z-index: 10;
}

.catalog__title h2 {
  text-align: center;
  margin-top: 75px;
  font-weight: 700;
  font-size: 36px;
  color: #e94544;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.catalog {
  position: relative;
  padding-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

.catalog__slider {
  margin-bottom: 160px;
  padding: 0px 60px;
}

.catalog__slider-one {
  width: 209px;
  border: 17px solid #e94544;
  text-align: center;
  margin: 0 10px 120px;
}

.slider__title h4 {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #343434;
  padding-top: 23px;
  padding-bottom: 13px;
}

.slider__text p {
  font-size: 13px;
  color: #858585;
  font-weight: 400;
  padding-bottom: 40px;
}

.book-one {
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.slider__img {
  margin-bottom: -50px;
  text-align: center;
}

.price {
  font-weight: 700;
  font-size: 18px;
}

.catalog__btn {
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
}

.catalog__button {
  display: block;
  width: 250px;
  height: 48px;
  background: #00f7ff;
  text-align: center;
  line-height: 48px;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s linear;
}

.catalog__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 248px;
  height: 44px;
  border: 2px solid #000;
  border-radius: 30px;
  left: -10px;
  top: -10px;
  transition: 0.3s linear;
}

.catalog__button:hover::before {
  left: 0;
  top: 0;
}

.catalog__button:hover {
  background: #000;
  color: #fff;
}
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
.catalog__slider .slick-slide.slick-active {
  outline: none;
}
.catalog__slider .slick-arrow {
  position: absolute;
  top: 50%;

  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}
/* Стрелка влево */
.catalog__slider .slick-arrow.slick-prev {
  cursor: pointer;
  outline: 0;
  border: none;
  left: 0;
  background: url(../img/scroll-prev.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.catalog__slider .slick-arrow.slick-next {
  cursor: pointer;
  outline: 0;
  border: none;
  right: 0;
  background: url(../img/scroll-next.png) 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.catalog__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 80px;
}
.slick-dots li {
  list-style: none;
  margin: 0px 14px;
}
/* Активная точка */

.catalog__slider .slick-dots li.slick-active button {
  background-color: #e94544;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  outline: 0;
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #00f7ff;
  border-radius: 50%;
  border: 0;
  outline: 0;
}

.about {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 100px;
  position: relative;
}

.about__image {
  background-image: url(../img/section__about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__content {
  background-color: #fff;
  padding-top: 50px;
  width: 525px;
  text-align: center;
  margin: 0 auto;
  height: 575px;
  box-shadow: 0 0 5px #404040;
}

.about__section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__logo {
  position: relative;
}

.about__title {
  position: absolute;
  top: 20%;
  left: 41%;
  text-transform: uppercase;
  font-family: "Impact", sans-serif;
  font-size: 36px;
  color: #404040;
}

.about__text p {
  font-weight: 400;
  font-size: 15px;
  color: #b3b3b3;
  padding-top: 70px;
  letter-spacing: 0.09em;
  line-height: 1.7em;
}

.text-two p {
  font-weight: 400;
  font-size: 15px;
  color: #b3b3b3;
  margin-top: 44px;
}

.about__btn {
  position: absolute;
  left: 50%;
  top: 77%;
  transform: translate(-50%, -50%);
}

.about__button {
  display: block;
  width: 250px;
  height: 48px;
  background: #e94544;
  text-align: center;
  line-height: 48px;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s linear;
}

.about__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 248px;
  height: 46px;
  border: 2px solid #000;
  border-radius: 30px;
  left: -10px;
  top: -10px;
  transition: 0.3s linear;
}

.about__button:hover::before {
  left: 0;
  top: 0;
}

.about__button:hover {
  background: #000;
  color: #fff;
}

.new__title h2 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  color: #e94544;
  margin-bottom: 80px;
}

.new__slider_item {
  width: 610px;
  border: 17px solid #e94544;
  margin: 0 15px;
  position: relative;
  margin-bottom: 150px;
}

.item__content {
  display: flex;
  padding-top: 45px;
}

.item__icons {
  display: flex;
  align-items: center;
  padding-right: 45px;
  flex-wrap: wrap;
}

.item__icons span {
  font-weight: 700;
  font-size: 30px;
  color: #454545;
  padding-left: 37px;
}

i {
  color: #848484;
}

.fas {
  padding-left: 70px;
  font-size: 16px;
  cursor: pointer;
}

.far {
  padding-left: 17px;
  font-size: 16px;
  cursor: pointer;
}

.item__book_img img {
  position: absolute;
  top: 25%;
  left: 0;
}

.item__content_right h4 {
  font-weight: 700;
  font-size: 26px;
  color: #454545;
  padding-bottom: 15px;
}

.item__author {
  font-weight: 400;
  font-size: 14px;
  color: #a1a1a1;
}

.genre {
  font-weight: 400;
  font-size: 16px;
  color: #a1a1a1;
  padding-top: 35px;
  padding-bottom: 15px;
}

.genre span {
  font-weight: 700;
  font-size: 18px;
  color: #535353;
  padding-right: 8px;
}

.item__right_text span {
  font-weight: 700;
  font-size: 18px;
  color: #535353;
  padding-right: 8px;
}

.item__right_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #a1a1a1;
  padding-bottom: 40px;
}

.new {
  position: relative;
  margin-bottom: 150px;
}

.new__slider {
  margin-right: 40px;
  margin-left: 40px;
}

.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}
.new__slider .slick-slide.slick-active {
  outline: none;
}
.new__slider .slick-arrow {
  position: absolute;
  top: 50%;

  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
}
/* Стрелка влево */
.new__slider .slick-arrow.slick-prev {
  cursor: pointer;
  outline: 0;
  border: none;
  left: 0;
  background: url(../img/scroll-prev.png) 0 0 / 100% no-repeat;
}
/* Стрелка вправо */
.new__slider .slick-arrow.slick-next {
  cursor: pointer;
  outline: 0;
  border: none;
  right: 0;
  background: url(../img/scroll-next.png) 0 0 / 100% no-repeat;
}

.new__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.new__button {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #5d5d5d;
  padding: 17px 35px;
  border: 3px solid #5d5d5d;
  border-radius: 50px;
}

.new__button:hover {
  background-color: #5d5d5d;
  color: #fff;
  transition: 0.2s;
}

.new__btn {
  text-align: center;
}

.new__slider .slick-dots li.slick-active button {
  background-color: #e94544;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  outline: 0;
}

.new__slider .slick-dots {
  margin-bottom: 30px;
}

.subscription {
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.tarif {
  background-color: #e94544;
  padding-bottom: 150px;
  position: relative;
}

.tarif_quote_one {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.tarif_quote_two {
  position: absolute;
  bottom: 3%;
  right: 15%;
}

.tarif_quote_three {
  position: absolute;
  right: 3%;
  top: 65%;
}

.tarif_quote_four {
  position: absolute;
  top: 20%;
  right: 5%;
}

.tarif_quote_five {
  position: absolute;
  top: 10%;
  left: 5%;
}

.tarif__title h2 {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 140px;
  padding-bottom: 40px;
  text-align: center;
}

.tarif__content {
  display: flex;
  justify-content: center;
}

.tarif__item {
  width: 360px;
  background-color: #fff;
  margin: 0 15px;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 80px;
  position: relative;
}

.tarif__item h4 {
  font-family: "Myra 4F Caps Bold";
  padding-bottom: 55px;
  font-size: 38px;
  font-weight: 700;
}

.tarif__item p {
  font-weight: 400;
  font-size: 16px;
  color: #8f8f8f;
  line-height: 1.5em;
}

.tarif__item_btn {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.tarif__item_button {
  display: block;
  width: 250px;
  height: 48px;
  background: #00f7ff;
  text-align: center;
  line-height: 48px;
  color: #000;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s linear;
}

.tarif__item_button::before {
  content: "";
  position: absolute;
  display: block;
  width: 248px;
  height: 46px;
  border: 2px solid #000;
  border-radius: 30px;
  left: -10px;
  top: -10px;
  transition: 0.3s linear;
}

.tarif__item_button:hover::before {
  left: 0;
  top: 0;
}

.tarif__item_button:hover {
  background: #000;
  color: #fff;
}

.fa-phone {
  transform: rotate(90deg);
  color: #353535;
}

.tel {
  font-weight: 700;
  font-size: 20px;
  color: #353535;
  padding-left: 10px;
}

.developer_name a {
  font-weight: 700;
  font-size: 20px;
  color: #353535;
}

.developer_rights p {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  color: #848484;
}

.developer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 37px;
  padding-bottom: 37px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 40px;
  border: 24px solid #121212;
}

.block__title {
  display: block;
  color: #121212;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.block__link {
  font-weight: 400;
  font-size: 14px;
  color: #848484;
}

.price {
  position: absolute;
  left: 35%;
  bottom: -18%;
}

.slider__img {
  position: relative;
}
